@model ProductViewModel
@{
    ViewBag.Title = "Подробности";
}
<h3>Описание товара</h3>
<hr />
<div>Идентификатор: @Model.Id</div>
<div>Наименование: @Model.Name</div>
<div>Цена: @Model.Price.ToString("C")</div>
<div>Дата изготовления: @Model.ProductionDate</div>
<div>Категория: @Model.Category</div>
@Html.ActionLink("К списку", "Index", "Home")
@Html.ActionLink("Удалить", "Delete", new { id = @Model.Id })


